[Unit]
Description = App Python CRUD on psql DB
After = postgresql.service
StartLimitBurst=50

[Service]
User = root
Group = root
WorkingDirectory=/var/www/crud_users
ExecStart = /usr/bin/gunicorn --certfile=/etc/ssl/{{ hosts.preprod.hostname }}/{{ hosts.preprod.hostname }}.{{ domain.name }}.{{ domain.extension }}.crt --keyfile=/etc/ssl/{{ hosts.preprod.hostname }}/{{ hosts.preprod.hostname }}.{{ domain.name }}.{{ domain.extension }}.key  crud:app -b 0.0.0.0:443
Restart=always
RestartSec=5

[Install]
WantedBy = multi-user.target
