## Module:      auth-active-directory
## Loaded by:   WebUI
## Usage:       Uncomment and set your value in ldap_uri
# Check authentification for WebUI using an Active Directory server.
define module {
    module_name     auth-active-directory
    module_type     ad_webui
    ldap_uri        ldap://{{ hosts.ldap.hostname }}.{{ domain.name }}.{{ domain.extension }}
    username        uid={{ ldap.shinken.user }},dc={{ domain.name }},dc={{ domain.extension }}
    password        {{ ldap.shinken.password }}
    basedn          DC={{ domain.name }},DC={{ domain.extension }}

    # For mode you can switch between ad (active dir)
    # and openldap
    mode	    openldap
}
